#container {
  position: relative;
  margin: auto;
  /* border: 2px solid red; */
  height: 40vw;
  width: 40vw;

  background: url(clock.png) no-repeat;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  height: 20%;
  width: 2%;
  left: 49%;
  top: 30%;
  /* opacity: 0.5; */
  /* color: red; */
  /* display: none; */
}

#minute {
  height: 28%;
  width: 1.2%;
  left: 49.5%;
  top: 22%;
  /* display: none; */

  /* opacity: 0.5; */
}

#second {
  height: 33%;
  width: 0.6%;
  left: 49.5%;
  top: 18%;
  /* opacity: 0.5; */
}
